.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.my-label {
    display: flex;
    font-size: 1.2rem;

}

.my-input {
    border-color: #ff4500;
}